{
  "CN": "service.acme.lan",
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "names": [
    {
      "C": "FR",
      "L": "Paris",
      "O": "ACME",
      "OU": "ACME IT department"
    }
  ],
  "Hosts": ["service.acme.lan"]
}
