{
  "CN": "ACME root CA",
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "names": [
    {
      "C": "FR",
      "L": "Paris",
      "O": "ACME",
      "OU": "ACME IT department"
    }
  ],
  "ca": {
    "expiry": "131400h"
  }
}
